/* Common Style */

body{
    background-color: #F4F9FF;
}

main{
  padding-left: 150px;
  padding-right: 150px;
}

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.primary_button{
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}
/* Header Style */

header{
  background-image: url(../Assets/Hero-bg.png);
  background-size: auto;
  height: 698px;
}

/* Header nav style */

#nav_style{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0 150px;
  align-items: center;
}

#logo_style{
  color: #4E47FF;
  font-size: 34px;
  font-weight: 900;
}

#nav_button_size{
  width: 132px;
  height: 48px;
}

/* Header content style */

header section{
  display: flex;
  justify-content: center;
}

#header_description{
  text-align: center;
  width: 905px;
  height: 237px;
  padding-top: 100px;
}

#header_contact{
  color: #252432;
  font-size: 64px;
  font-weight: bold;
}

#header_button{
  width: 174px;
  height: 48px;
}

/* Action section style */

#action_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 116px;
  padding-bottom: 116px;
}

#action_contant{
  width: 517px;
  height: 203px;
}

#action_head{
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}

#action_description{
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
}

#action_button{
  width: 229px;
  height: 48px;
}

#action_image{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* Productive users section style */

#users_section{
  background-color: rgba(77, 71, 255, 0.1);
  height: 306px;
  border-radius: 24px;
  align-items: center;
  text-align: center;
}

#users_head{
  color: #252432;
  font-size: 38px;
  font-weight: bold;
}