/* Common Style */

body{
    background-color: #F4F9FF;
}

main{
  padding-left: 150px;
  padding-right: 150px;
}

footer{
  background-color: white;
  padding-bottom: 104px;
}

.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.primary_button{
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.primary_button:hover{
  color: black;
  background-color: rgba(255, 255, 0, 0.70);
  cursor: pointer;
}

/* Header Style */

header{
  background-image: url(../Assets/Hero-bg.png);
  background-size: auto;
  height: 698px;
}

/* Header nav style */

#nav_style{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0 150px;
  align-items: center;
}

#logo_style{
  color: #4E47FF;
  font-size: 34px;
  font-weight: 900;
}

#nav_button_size{
  width: 132px;
  height: 48px;
}

/* Header content style */

header section{
  display: flex;
  justify-content: center;
}

#header_description{
  text-align: center;
  width: 905px;
  height: 237px;
  padding-top: 100px;
}

#header_contact{
  color: #252432;
  font-size: 64px;
  font-weight: bold;
}

#header_button{
  width: 174px;
  height: 48px;
}

/* Action section style */

#action_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 116px;
  padding-bottom: 116px;
}

#action_content{
  width: 517px;
  height: 203px;
}

#action_head{
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}

#action_description{
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
}

#action_button{
  width: 229px;
  height: 48px;
}

#action_image{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

/* Productive users section style */

#users_section{
  background-color: rgba(77, 71, 255, 0.1);
  height: 306px;
  border-radius: 24px;
  align-items: center;
  text-align: center;
  padding: 50px 142px;
  margin-bottom: 137px;
}

#users_head{
  color: #252432;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

#users_statistics{
  display: flex;
  justify-content: space-around;
}

.users_data{
  color: #4E47FF;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
}

.data_name{
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin: 0;
}

/* Review section style*/

#review_section{
  padding-bottom: 130px;
}

#review_head{
  color: #252432;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

#review{
  display: flex;
  justify-content: space-around;
}

.review_individual{
  width: 366.67px;
  height: 200px;
  padding: 24px;
  border: 1px solid #F2EDED;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.review_stars{
  margin-bottom: 24px;
}

.review_star{
  width: 20px;
  height: 20px;
}

.details_head{
  font-size: 24px;
}

.details_body{
  font-size: 20px;
}

.reviewer_info{
  display: flex;
  align-items: center;
  gap: 15px;
}

.reviewer_image{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* Focus section style */

#focus_section{
  padding: 50px 150px 71px;
  border: 1px solid #F2EDED;
  border-radius: 15px;
  margin-bottom: 95px;
  background-color: rgba(255, 255, 255, 0.5);
}

#focus_head{
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

#focus_description{
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 25px;
}

#focus_button{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  font-weight: 400;
}

#focus_image{
  width: 840px;
  height: 365px;
  border-radius: 48px;
  display: block;
  margin: auto;
}

/* Let's get in touch(lgit) section */

#lgit_section{
  height: 632px;
  display: flex;
  padding: 71px 0 ;
  justify-content: space-between;
  align-items: center;
}

#lgit_head{
  width: 528px;
  font-size: 97px;
  font-weight: bold;
}

.form_labels{
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-top: 19px;
  margin-bottom: 10px;
}

.form_inputs{
  width: 497px;
  height: 40px;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 20px;
  padding: 20px 32px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
}

#message_area{
  width: 497px;
  height: 135px;
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 20px;
  padding: 20px 32px;
  border: 1px solid #D6DDED;
  border-radius: 10px
}

#lgit_button{
  display: block;
  margin-top: 19px;
  width: 563px;
  height: 62px;
}

/* Footer section style */

#footer_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

#footer_head{
  color: #4E47FF;
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 0;
}

#footer_content{
  color: #8987A1;
  width: 531px;
  display: block;
  text-align: center;
}

#footer_nav{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#footer_list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.list_item{
  color: #8987A1;
  text-decoration: none;
}